SUPABASE_URL=https://lyuqvwrikfajmcodwous.supabase.co
SUPABASE_ANON_KEY=cole-a-chave-publica-do-supabase

INFINITEPAY_HANDLE=gabriel-domingues-0p8
FRONTEND_URL=https://convite-production.up.railway.app
BACKEND_URL=https://convite-production.up.railway.app
